<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <!-- the controller value has the format 'controller_class::method_name' -->
    <route id="blog_list" path="/blog"
           controller="App\Controller\BlogController::blog_list"/>
    
    <route id="api_post_show" path="/api/posts/{id}"
        controller="App\Controller\BlogApiController::show"
        methods="GET|HEAD"/>

    <route id="api_post_edit" path="/api/posts/{id}"
        controller="App\Controller\BlogApiController::edit"
        methods="PUT"/>
    
    <route id="contact" path="/contact" controller="App\Controller\DefaultController::contact">
        <condition>context.getMethod() in ['GET', 'HEAD'] and request.headers.get('User-Agent') matches '/firefox/i'</condition>
        <!-- expressions can also include config parameters: -->
        <!-- <condition>request.headers.get('User-Agent') matches '%app.allowed_browsers%'</condition> -->
    </route>
    
    <route id="doc_shortcut" path="/doc"
           controller="Symfony\Bundle\FrameworkBundle\Controller\RedirectController">
        <default key="route">doc_page</default>
        <!-- optionally you can define some arguments passed to the route -->
        <default key="page">index</default>
        <default key="version">current</default>
        <!-- redirections are temporary by default (code 302) but you can make them permanent (code 301)-->
        <default key="permanent">true</default>
        <!-- add this to keep the original query string parameters when redirecting -->
        <default key="keepQueryParams">true</default>
        <!-- add this to keep the HTTP method when redirecting. The redirect status changes:
             * for temporary redirects, it uses the 307 status code instead of 302
             * for permanent redirects, it uses the 308 status code instead of 301 -->
        <default key="keepRequestMethod">true</default>
    </route>

    <route id="legacy_doc" path="/legacy/doc"
           controller="Symfony\Bundle\FrameworkBundle\Controller\RedirectController">
        <!-- this value can be an absolute path or an absolute URL -->
        <default key="path">https://legacy.example.com/doc</default>
        <!-- redirections are temporary by default (code 302) but you can make them permanent (code 301)-->
        <default key="permanent">true</default>
    </route>    
</routes>
